[include]
    path = ~/.gitconfig.local

[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = blue

[color "diff"]
    meta = yellow
    frag = blue
    old = red
    new = green bold

[color "status"]
    added = green
    changed = yellow
    untracked = blue

[alias]
    lg = log --pretty=format:'%C(red)%h%Creset -%Creset %s%C(bold yellow)%d %Creset%C(green)(%cr)%Creset %C(blue)[%an]%Creset' --graph

[rerere]
	enabled = 1

[branch]
	autosetuprebase = always
	autosetupmerge = always

[core]
    attributesfile = ~/.gitattributes
	editor = /usr/bin/vim
	pager = delta

[merge]
	summary = true
	tool = vim

[notes]
    displayRef = refs/notes/review

[push]
	default = current

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[commit]
	template = ~/.gitmessage

[delta]
    side-by-side = true
    line-numbers = true
    dark = true
    line-numbers-minus-style = red
    line-numbers-plus-style = green bold
